article h1 {
	font-size: 3em;
	padding-top: 1em;
}

article h2 {
	padding-top: 2em;
	font-size: 2em;
}

article {
	max-width: 960px;
	margin: 0 10%;
	padding-bottom: 4em;
}

article ol, article ul {
	margin: 1em;
	padding-left: 1em;
}

article p {
	font-size: 1.2em;
	padding: .5em 0;
}

article blockquote {
	display: block;
	background: #e3f2fd;
	padding: 1em 1em 1em 3em;
	margin: 1em 0 1em 2em;
	border-left: solid 3px var(--accent);
	font-style: italic;
}

article table {
	margin: 1em;
}

article pre > code {
	padding: 1em 2em 2em !important;
}